video {
    width: 100%;
    height: auto;
}

img {
    width: 12%;
    height: auto;
}


.app-container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: auto auto;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


#controls {
    display: grid;
    grid-template-columns: auto auto;
}

#microphone-toggle {
    width: 100%;
    height: 100%;
}

#video-toggle {
    width: 100%;
    height: 100%;
}


#chat {
    width: 100%;
    height: 100%;

    resize: none;
}

#chat-form {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: auto auto;
}

#chat-input {
    resize: none;
}